{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Кинотека</title>
	<script src="https://kit.fontawesome.com/a3a753885a.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="{% static '/style.css'%}">
	<style>
	   @font-face {
    	font-family: 'intro';
    	src: local('intro'),
         url("{% static '/fonts/Intro.otf' format('truetype')%}");
  		}
	   @font-face {
    	font-family: 'Kaisei HarunoUmi';
    	src: local('Kaisei HarunoUmi'),
         url("{% static '/fonts/Constantine.ttf' format('truetype')%}");
  		}
	</style>
</head>
<body>
	<div class="header">
		<h4 class="headline_name">Кинотека</h4>
		<div class="buttons_container">
			<h4  class="headline_chapter">фильмы</h4>
			<h4  class="headline_chapter">сериалы</h4>
			<h4  class="headline_chapter">аниме</h4>
			<i class="fa-solid fa-magnifying-glass"></i>
		</div>
		<i class="fa-solid fa-user"></i>
	</div>
	<div class="container">
		<div class="description_film_container">
			<h1 class="headline_film">Ганнибал</h1>
			<p class="descriptions">с 2013, детектив, триллер 3 сезона США 18+</p>
			<p class="text_films">Каннибал-интеллектуал водит ФБР за нос. Самая эстетская экранизация романов про доктора Лектера</p>

			<div class="buttons_description_films">
				<div class="button_watch">
					<i class="fa-solid fa-play"></i>
					<p class="buttons_description_films_text">смотреть</p>
				</div>
				<div class="button_trailer">
					<p class="buttons_description_films_text">трейлер</p>
				</div>
			</div>
		</div>
		<div class="gradient_film_wallpaper">
			<img src="{% static 'img\film_wallpaper.jpg' %}" alt="">
		</div>

	</div>
	<div class="container_recomended_fillms">
		<h2 class="headline_recomended_films">Популярно сейчас</h2>
		<div class="images_recomended_films">
			<img src="{% static 'img/recomended_films/2.png' %}" alt="">
			<img src="{% static 'img/recomended_films/3.webp' %}" alt="">
			<img src="{% static 'img/recomended_films/4.png' %}" alt="">
			<img src="{% static 'img/recomended_films/5.jpg' %}" alt="">
			<img src="{% static 'img/recomended_films/1.webp' %}" alt="">
			<img src="{% static 'img/recomended_films/2.png' %}" alt="">
			<img src="{% static 'img/recomended_films/3.webp' %}" alt="">
			<img src="{% static 'img/recomended_films/3.webp' %}" alt="">
		</div>
	</div>
</body>
</html>